#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "librum-server"
name = "Librum Server"
description.en = "Self-hosted server for the Librum clients"

version = "2024.03.26~ynh1"

maintainers = ["Thovi98"]

[upstream]
license = "AGPL-3.0"
website = "https://librumreader.com/"
code = "https://github.com/Librum-Reader/Librum-Server"

fund = "https://github.com/sponsors/Librum-Reader"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/example"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    help.en = "Password used for __APP__. Minimum 8 symbols."
    type = "password"

    [install.openapi_key]
    help.en = "Your OpenAI api token - If left empty, all Ai services will simply be disabled"
    type = string


[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/Librum-Reader/Librum-Server/archive/35c79e3b90f76c9d2ebc2fbb994bcbb1ebe22deb.tar.gz"
        sha256 = "d5b21c7b3559ebee0546ccb664eb26b8420d356cd95db7513d37fafcdbb2619a"
        in_subdir = true
        autoupdate.strategy = "latest_github_commit"

        [resources.sources.dotnet]
        amd64.url = "https://download.visualstudio.microsoft.com/download/pr/ce31d92b-b514-4f9c-843b-29c466871369/b332eba5641cbc6eed1e3a98480972d2/aspnetcore-runtime-8.0.6-linux-x64.tar.gz"
        amd64.sha256 = "d4f8ce14e12aba9ca970c15c1ce09486bffc930fe05d4520678763562ca6b48b"
        arm64.url = "https://download.visualstudio.microsoft.com/download/pr/ccdcbb70-a5e9-4753-b6e3-4461ce56a69d/240803fc1ffba38ab3603778c03e9b87/aspnetcore-runtime-8.0.6-linux-arm64.tar.gz"
        arm64.sha256 = "2d03221eb786ad84b865aa5eca84ad79bb2e8cde57e96cac9e0c4edaaec14c0f"
        armhf.url = "https://download.visualstudio.microsoft.com/download/pr/c27a9707-8627-43d3-837e-fa144bab2984/40f243e656752b87ff033e568d49b510/aspnetcore-runtime-8.0.6-linux-arm.tar.gz"
        armhf.sha256 = "b621a6cee65890a123bbf6282fc23190a8abe12af76279a1aa799b0e82f814bf"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 5000
    second.default = 5001

    [resources.apt]
    packages = "mariadb-server"

    [resources.database]
    type = "mysql"
